@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: #6C6C6C;
}
/*--------------------
 header Style Start 
 ---------------------*/
.container{
    display:flex;
    background-color: #2D25A0;

}
.container:hover .header-thambnail img{
    transform: scale(1.5);
    transition: 3s;
    animation: ease-out;
}
.header-title{
    width: 373px;
    color: white;
    font-size: 25px;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 150px;
}
.btn{
    text-decoration: none;
    background-color:#E02C6D ;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 10px;
}
.btn:hover{
    padding: 10px 20px;
    background-color: #48132661;
    transition: 0.5s;
    animation: step-start;

}
.fa-arrow-right{
    margin-left: 10px;
    
}
.header-thambnail{
    width: 463px;
    margin-top: 45px;
    margin-left: 302px;
    padding-bottom: 50px;
}
.header-thambnail img{
    width: 100%;
}
/* header section End */

/* -----------------------
player Style Start Here 
--------------------------*/
main{
    display: flex;
    justify-content: center;
    align-items: center;

}
.players{
    width: 1050px;
    margin-top: 70px;
}

.player{
    width: 320px;
    height: 425px;
    box-sizing: border-box;
    box-shadow: 5px 5px 20px -2px rgb(48 47 46);
    border-radius: 10px;
}
.player:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
}
.player-thambnail img {
    width: 300px;
    padding-top: 10px;
    padding-left: 10px; 
    
}
.player-info{
    padding: 0px 10px;
}
.player-info p{

    font-size: 14px;
    padding-bottom: 10px;

}
.player-info h2{
    font-size: 20px;
}
.player-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 40px;
}
/* player Style End Here */

/* -----------------
Trophy Style Start 
--------------------*/
.section-title{
    margin-top: 60px;
    margin-left: 30px;
}
.section-title h1{
    font-size: 30px;
    color: firebrick;
    font-weight: 900;
    text-align: center;
}
.trophy-section{
    margin-top: 60px;
}
.trophy-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.trophies:hover{
    transform: rotate(20deg);
    transition: 1s;
}
.trophy-thambnail img{
    width: 350px;
}
.trophy-info{
    text-align: center;
}
.trophy-info span{
    color: firebrick;
}
/* Trophy Style End Here */

/* ------------------------------
Our Key Player Style Start Here 
----------------------------------*/
.top-players{
    margin-top: 60px;
}
.players-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.top-thambnail img{
    width: 250px;
    height: 200px; 
}
.top-info h3, p{
    text-align: center;
}
.top-player:hover{
    transform: scaleY(1.2);
    transition: 1s;
}
/* Our Key Player Style Style End Here */

/*----------------------
 footer Style Star Here 
 ------------------------*/
 footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 100px;
     border-top: 1px solid black;  
 }
 .footer-thumbnail img{
     width: 350px;
     padding-top: 20px;
 }
 .social-links{
     text-decoration: none;
     text-align: center;
     
     font-size: 25px;
 }
 .social-links i{
     margin-left: 10px;
     color: rgb(43, 80, 247);
 }
 .social-links i:hover{
     color: firebrick;
     transform: scale(1.5);
     transition: 1s;
 }
 /*-------------------------
  Media Query For Phones 
  --------------------------*/
  @media screen and (max-width: 480px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    .header-title{
        width: 373px;
        color: white;
        font-size: 30px;
        font-weight: 900;
        margin-top: 0px;
        margin-left: 10px;
    }
    .header-thambnail{
        width: 220px;
        height: 200px;
        margin-top: 90px;
        margin-left: 40px;
        padding-bottom: 50px;
    }
    .container:hover .header-thambnail img{
        transform: scale(1.2);
        transition: 3s;
        animation: ease-out;
    }
    .player-container, .trophy-container, .players-container{
        grid-template-columns: repeat(1, 1fr); 
        row-gap: 40px; 
    }
    .player-info h2{
        text-align: center;
    }
    .player{
        width: 100%;
    }
    .player-thambnail img{
        width: 97%;
        height: 280px;
        align-self: center;
    }
    .trophies{
        width: 100%;
    }
    .trophy-thambnail img{
        width: 100%;
    }
  }

  /*----------------------
   Media Query For Tablet  
   -----------------------*/

   @media only screen and (min-width:481px) and (max-width:992px) {
    .container{
        flex-direction: column;
        width: 100%;
    }
    .header-title{
        width: 373px;
        color: white;
        font-size: 30px;
        font-weight: 900;
        margin-top: 0px;
        margin-left: 50px;
        
    }
    .header-thambnail{
        width: 350px;
        margin-top: 90px;
        margin-left: 200px;
        padding-bottom: 50px;
    }
    .player-container, .trophy-container, .players-container{
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 40px;
        row-gap: 40px; 
        
    }
    .player-info h2{
        text-align: center;
    }
    .player{
        width: 100%;
    }
    .player-thambnail img{
        width: 97%;
        height: 280px;
        align-self: center;
    }
    .trophies{
        width: 100%;
    }
    .trophy-thambnail img{
        width: 100%;
    }
  }